.main {
  color: white;
  grid-column: 1 / 3;
  display: grid;
  gap: 0.4rem 0;
  justify-content: space-between;
  margin-left: 1.8rem;
}
.temperature {
  font-size: 6rem;
  align-self: flex-end;
}
.name {
  font-size: 2rem;
  align-self: center;
}
.feels {
  font-size: 1.4rem;
}
.image {
  height: 15rem;
  grid-column: 2 / 3;
  grid-row: 1 / 5;
  align-self: center;
}